<!DOCTYPE html>
<html>
<head>
  <title>Home | Pokerhands</title>
</head>
<body>
<h1>pokerhands</h1>
<div>
  <%= form_tag(root_path, method: "get") do %>
    <%= text_field_tag(:hands) %>
    <%= submit_tag("check") %>
  <% end %>
</div>
<p>
  <%= @cards %>
  <% @cards.each do |hand| %>
    <%= hand %>
  <% end %>
  <%= @suits %>
  <%= @nums %>
  <%= @result %>
</p>
</body>
</html>