<!DOCTYPE html>
<html>
<head>
  <title>Home | Pokerhands</title>
</head>
<body>
<h1>pokerhands</h1>
<div>
  <%= form_tag(root_path, method: "get") do %>
    <%= render 'shared/error_messages' %>
    <%= text_field_tag(:cards, @cards) %>
    <%= submit_tag("check") %>
  <% end %>
</div>
<p>
  <%= @result %>
</p>
</body>
</html>