<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrapの読み込み -->
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
  <!-- Flat-UIの読み込み -->
    <link href="css/flat-ui.css" rel="stylesheet">
  <title>Home | Pokerhands</title>
</head>
<body>
<h1>Check a Poker Hand</h1>
<div>
  <%= form_for(@card, url: cards_path, action: "cards#create", html: {method: "post"}) do |f| %>
    <%#= render 'shared/error_messages' %>
    <%# スタイルシートが反映されていないので要修正 %>
    <%= stylesheet_link_tag "custom", :media => "all" %>
    <p><%= f.text_field :all_card, value: @card[:all_card],class: "form-control input-hg", placeholder: "Huge" %></p>
    <p><button class="btn btn-hg btn-primary">
      <%#= f.submit("check") %>
      check
    </button></p>
<!--    <%# raise() %>>-->
    <% if @card.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @card.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
<p>
  <%= @result %>
</p>
</body>
</html>