<!DOCTYPE html>
<html>
<head>
  <title>Home | Pokerhands</title>
</head>
<body>
<h1>Check a Poker Hand</h1>
<div class="box3">
  <%= form_for(@card, url: cards_path, action: "cards#create", html: {method: "post"}) do |f| %>
    <%= stylesheet_link_tag "custom", :media => "all" %>
    <%= f.label :all_card %>
    <p><%= f.text_field :all_card, value: @card[:all_card],class: "form-control input-hg", placeholder: "S10 H11 D12 C13 H1" %></p>
    <p><button class="btn btn-hg btn-primary">
      <%#= f.submit("check") %>
      check
    </button></p>
<!--    <%# raise() %>>-->
    <% if !@errors.nil?   %>
      <div id="error_explanation">
        <ul>
          <% @errors.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <h2>
    <%= @result %>
  </h2>
</div>
</body>
</html>